.signup-page {
  display: flex;
  margin: auto;
  margin-top: 25vh;
  flex-direction: column;
  border: 1px solid hsl(24 5.7% 82.9%);
  border-radius: 0.5rem;
  padding: 2rem;
}

.signup-page h1 {
  margin: auto;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.signup-page p {
  font-size: 1.5rem;
  color: hsl(24 5.4% 63.9%);
  margin: auto;
  margin-bottom: 2rem;

}

.signup-page p.signup {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.signup-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signup-page input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.signup-page button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: hsl(24 5.4% 63.9%);
}
