.sidebaritem {
  padding: 6% 6%;
  margin: 2% 2% 2% 2%;
  /* Prevent the text from wrapping to the next line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  border-radius: 0.5rem;
  background-color: hsl(20 5.9% 90%);
}
