.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: hsl(60 9.1% 97.8%);
  /*border-right: 1px solid hsl(24 5.7% 82.9%);*/
  height: 100vh;
  width: 20vh;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chatheader {
  display: flex;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1% 0 1%;
  background-color: white;
  border-bottom: 1px solid hsl(24 5.7% 82.9%);
}

.messagesarea {
  display: flex;
  height: 82vh;
  width: 80%;
  margin: auto;
  font-size: 1.17rem;
}

.messageinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 7vh;
  padding: 1% 1% 1% 1%;
  margin-bottom: 3%;
  border: 1px solid hsl(24 5.7% 82.9%);
  border-radius: 0.375rem;
  background-color: hsl(60 4.8% 95.9%);

}

.textarea {
  resize: none;
  display: flex;
  flex: 1;
  height: 90%;
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  outline: none;
}
